html,body{
	/*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#222));
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(30, 30, 30)), to(rgb(50, 50, 50)));
    background: -webkit-radial-gradient(rgb(30, 30, 30), rgb(50, 50, 50));
	background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));*/
    overflow:hidden;
	padding:0;
    margin:0;
	background-repeat: no-repeat;
	background-size: cover;
	background:url('../images/bg2.png') rgba(0,0,0,0);
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	text-align:center;
	color:#fff;
	font-family:sans-serif;
}

canvas { 
	pointer-events:none; 
	z-index: 0; 
	position:relative; 
}

#logo{
	position: absolute;
	bottom: 20px;
	right: 20px;
	opacity: 0.2;
}
#antiylogo{
	width: 65px;
	margin-right: 10px;
}
#wblogo{
	width: 100px;
}
#css-legend-panel{
	position: absolute;
	top: 30px;
	right: 20px;
	opacity: 0;
}

#change_button_panel{
	position: absolute;
	top: 30px;
	right: 200px;
	opacity: 0;
}
.legend{
	/*width: 100px;*/
	line-height: 15px;
	padding: 7px 10px 7px 12px;
	background: rgba(100,100,100,0.4);
	text-align:center;
	margin: 0;
	text-decoration: none;
	color :#FFF; 
	font-size: 14px;
	/*font-weight: bold;*/
	font-family: '微软雅黑';
	border: 2px solid rgba(255,255,255,0);
	opacity: .75;
	letter-spacing: 2px;
	cursor: default;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.legend:hover{
/*	-moz-box-shadow: 0px 0px 12px #b91d47;             
	-webkit-box-shadow: 0px 0px 12px #b91d47; 
	box-shadow: 0px 0px 10px #fff; */       
	background: #287EFC;   
}

#title{
	position: absolute;
	left: 30px;
	top: 30px;
	font: bold 28px '微软雅黑';
	text-shadow:  0 0 20px #015FFA;
	opacity: .9;
	color: #FFFFFF;
}
#title span{
	color: #1E94FF;
}

/* statistics-card */

.statistics-card{
	background: rgba(0,0,0,0.7);
	border-radius: 3px;
	bottom: 10px;
	padding: 8px 55px 5px 15px;
	position: absolute;
	left: 10px;
	z-index: 10;
}

.statistics-card:hover{
	background: rgba(0,0,0,0.9);
}


.statistics-card .statistics-card-label,.statistics-card .statistics-card-btn{
	display: inline-block;
	margin: 0 4px;
}

.statistics-card .statistics-card-label .statistics-card-label-num{
	font:bold 32px '微软雅黑';
}

.statistics-card .statistics-card-label .statistics-card-label-title{
	font: 12px '微软雅黑';
	color: #eee;
}

.statistics-card-btn{
	position: absolute;
	top: 19px;
	right: 9px;
	border: 2px solid #222;
	/*padding: 2px;*/
	width: 21px;
	height: 21px;
	border-radius: 23px;
	text-align: center;
	background: -webkit-radial-gradient(#333 2%, #111 100%);
}

.statistics-card-btn-border{
	position: absolute;
	top: 19px;
	right: 9px;
	width: 21px;
	height: 21px;
	border-radius: 23px;
	border: 2px solid rgba(0,0,0,0);
	border-top: 2px solid #287EFC;
	display: inline-block;
	margin: 0 4px;
	-webkit-transform: rotate(45deg);
	opacity: 0;
	cursor: pointer;
}

.statistics-card-btn-border:hover{
	opacity: 1;
	-webkit-animation-name: mycolor;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes mycolor{
	50%{
		-webkit-transform: rotate(225deg);
	}
	100%{
		-webkit-transform: rotate(405deg);
	}
}

.arrow-opacity-animat{
	-webkit-animation-name: arrowopacity;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes arrowopacity{
	50%{
		color: #FFF;
	}
	100%{
		color: #888;
	}
}

.statistics-card-btn i{
	font-size: 24px;
	color: #999;
	font-weight: bold;
	position: absolute;
	top: -2px;
	left: 4.4px;
}