/*全局*/
@import url(myindex.css);
/*拓扑信息*/
@import url(topoInfo.css);
/*陀螺仪外观*/
@import url(mapStyle.css);
/*查找节点*/
@import url(findNode.css);
/*设置缩放尺*/
@import url(zoomRuler.css);
/*动态图表*/
@import url(chart.css);
@import url(dynamiChart.css);
/*主机菜单*/
@import url(menuPanel.css);
/*主机菜单*/
@import url(hostMenu.css);
/*主机菜单*/
@import url(showLog.css);
/*主机菜单*/
@import url(eventList.css);
/*回放条*/
@import url(replayBar.css);
/*回放时间*/
@import url(replayTimeCard.css);
#topo{
	width: 100%;
	height: 100%;	
}
.panel{
	color: white !important;
	font: 10px '微软雅黑';
	padding: 0;
	background-color: rgba(2, 14, 27, 0.93);
	border: 1px solid rgba(0, 136, 204, 0.5);
	-webkit-animation-name: bluePulse; 
	-webkit-animation-duration: 1.5s;
}

.button{
    background-color: rgba(14, 39, 65, 1);
    border: 1px solid rgba(0, 136, 204, 0.5);
    line-height: 1;
    color: white !important;
    padding: 2px 6px 3px;
    font: 12px '微软雅黑';
    z-index: 1;
    text-decoration: none;
}

.button:hover{
    -webkit-box-shadow: 0 0 10px rgba(0, 136, 204, 0.5);
}

div,img {
	display: block;
	-moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;    
}

.closepanel{
    position: absolute;
    right: 7px;
    top: 5px;
    color: #999;
    font-size: 9px;
    z-index: 1000;
    cursor: pointer;
    background: url('../img/delete.png') no-repeat;
    background-size:contain;
    height: 16px;
    width: 16px;
    opacity: 0.7;
}

.closepanel:hover{
    opacity: 1;
}