article {
    margin-bottom: 6px;
}
article > header {
    border-bottom: 2px solid #13748D;
    overflow: hidden;
    padding: 3px 3px;
    overflow: hidden;
}
article > header > h1 {
    float: left;
    font-family: FileFolderJNL,'微软雅黑';
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    color: #D1CFD1;
}
article > section {
    border-top: 1px solid #10555F;
    margin-top: 4px;
}

article > section.second{
    background: rgba(0,0,0,0.5);
}


article > section {
    border-bottom: 1px solid #142C34;
}

article > footer {
    clear: both;
    background: rgba(0,0,0,0.5);
    padding: 12px 0;
}
article > footer > p ,article > footer > span{
    color: #A2A2A2;
    font-size: 8px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 10px;
    letter-spacing: 1px;
    font-weight: 400;
}

/*-----myloading-------- */

.loading {
    height: 90px;
    min-width:100px;
}

.loading > .loading-info {
    color: #13748D;
    position:relative;
    top:-32px;
    text-align:center;
    font:bold 11px;
    font-family: FileFolderJNL,'微软雅黑';
    letter-spacing: 2px;
    content: '..';
    -moz-animation:textspinPulse 1s infinite ease-in-out;
    -webkit-animation:textspinPulse 1s infinite linear;
}
.loading > .loading-cricle-outset {
    background-color:rgba(0,0,0,0);
/*    border:5px solid rgba(0,183,229,0.9);*/
    border:5px solid #13748D;
    opacity:.9;
    border-right:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow:0 0 35px #13748D;
    width:50px;
    height:50px;
    margin:0 auto;
    -moz-animation:spinPulse 1s infinite linear;
    -webkit-animation:spinPulse 1s infinite linear;
}
.loading > .loading-cricle-inset {
    background-color:rgba(0,0,0,0);
/*    border:5px solid rgba(0,183,229,0.9);*/
    border:5px solid #13748D;
    opacity:.9;
    border-left:5px solid rgba(0,0,0,0);
    border-right:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow:0 0 15px #3C86CC;
    width:30px;/*宽高30像素的div块，可以放到大圈的里面*/
    height:30px;
    margin:0 auto;
    position:relative;
    top:-50px;/*定位到大圆的里面*/
    -moz-animation:spinoffPulse 1s infinite linear;/*采用定义的spinoffPulse的动画效果*/
    -webkit-animation:spinoffPulse 1s infinite linear;
}

.no-loading-info{
    height: 70px;
}

.no-loading-info > .loading-info{
    display: none;
}

.loading-min {
    height: 35px;
    min-width: 50px;
}

.loading-min > .loading-info {
    display: none;
/*
    color: rgba(0,183,229,0.9);
    position:relative;
    top:-15px;
    text-align:center;
    font:bold 5px '微软雅黑';
    letter-spacing: 1px;
    -moz-animation:textspinPulse 1s infinite ease-in-out;
    -webkit-animation:textspinPulse 1s infinite linear;
*/
}

.loading-min > .loading-cricle-outset{
/*    border:3px solid rgba(0,183,229,0.9);*/
    border:3px solid #13748D;
    border-right:3px solid rgba(0,0,0,0);
    border-left:3px solid rgba(0,0,0,0);
    border-radius:25px;
    box-shadow:0 0 30px #13748D;
    width:25px;
    height:25px;
    margin:0 auto;
}

.loading-min > .loading-cricle-inset{
/*    border:3px solid rgba(0,183,229,0.9);*/
    border:3px solid #13748D;
    border-left:3px solid rgba(0,0,0,0);
    border-right:3px solid rgba(0,0,0,0);
    border-radius:15px;
    box-shadow:0 0 10px #2187e7;
    width:15px;
    height:15px;
    position:relative;
    top:-26px;
}



@-moz-keyframes spinPulse {
    0% {-moz-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px #2187e7;}
    50% {-moz-transform:rotate(145deg);opacity:1;}
    100% {-moz-transform:rotate(-320deg);opacity:0;}
}
@-moz-keyframes spinoffPulse {
    0% {-moz-transform:rotate(0deg);}
    100% {-moz-transform:rotate(360deg);}
}
@-moz-keyframes textspinPulse {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}
@-webkit-keyframes spinPulse {
    0% {-webkit-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px #2187e7;}
    50% {-webkit-transform:rotate(145deg);opacity:1;}
    100% {-webkit-transform:rotate(-320deg);opacity:0;}
}
@-webkit-keyframes spinoffPulse {
    0% {-webkit-transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes textspinPulse {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background:#222;
	filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:#21CCF8;
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background:#21CCF8;
	filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
}






































