.replay-bar-warp{
  /*width: 660px;*/
  position: absolute;
  bottom: 1px;
  left: 10px;
  /*margin: 10px;*/
}

.replay-bar-content{
	background: rgba(22, 22, 22, 0.86);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.8);
	padding: 18px 5px 18px 12px;
}

.replay-bar-warpborder-t,
.replay-bar-warpborder-r,
.replay-bar-warpborder-l,
.replay-bar-warpborder-b{
  border: 2px solid #13748D;
  width: 5px;
  height: 5px;
  position: absolute;
  
}

.replay-bar-warpborder-t{
  top: -2px;
  left: -2px;
  border-right: 0px solid red;
  border-bottom: 0px solid red;
}

.replay-bar-warpborder-r{
  top: -2px;
  right: -2px;
  border-left: 0px solid red;
  border-bottom: 0px solid red;
}

.replay-bar-warpborder-b{
  bottom: -2px;
  right: -2px;
  border-left: 0px solid red;
  border-top: 0px solid red;
}

.replay-bar-warpborder-l{
  bottom: -2px;
  left: -2px;
  border-right: 0px solid red;
  border-top: 0px solid red;
}



.replay-bar-button{
  /*display: inline;*/
 margin-left: 10px; 
}

.replay-bar-button-play-content{
  margin: 2px 8px 2px 25px;
}

.replay-bar-button-play-content,.replay-bar-button-left-content,.replay-bar-button-right-content{
  display: inline-block;
  border: 3px solid rgba(34,34,34,0.4);
  border-radius: 2px;
  padding: 0;
  position: relative;
}

.replay-bar-button-play-content .replay-bar-button-play{
  background: #21CCF8;
  border: 0px solid rgba(0,0,0,0.8);
  border-radius: 2px;
  color: #000;
  box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
  padding: 0 18px;
}

.replay-bar-button-right-content .replay-bar-button-rightNum{
  background: #21CCF8; /*rgba(131,224,237,1);*/
  border: 0px solid rgba(0,0,0,0.8);
  color: #000;
  /*box-shadow: 0 0 10px rgba(131,224,237,0.7);*/
 box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
  padding: 0 5px;
  border-radius: 2px;
  /*margin: -3px;*/
}

.replay-bar-button-rightNum span{
  font-size: 9px;
  font-weight: bold;
  padding: 0 5px;
}

.replay-bar-button-play-content .replay-bar-button-play:hover,
.replay-bar-button-right-content .replay-bar-button-rightNum:hover{
  color: #fff;
  background: rgba(0,0,0,1);
  box-shadow: 0 0 0 rgba(131,224,237,0.7);
}

.replay-bar-button-right-content .rightNumPanel{
  border: 1px solid #13748D;
  /*border-left: 0px solid #13748D;
  border-right: 0px solid #13748D;*/
  border-radius: 3px;
  padding: 4px 1px;
  background: #111;
  position: absolute;
  right: -10px;
  bottom: 30px;
  width: 60px;
  opacity: 0;
  z-index: -1;
}

.replay-bar-button ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.replay-bar-button ul li{
  line-height: 25px;
  color: #FFF;
  /*text-align: center;*/
  padding-left: 10px;
  cursor: pointer;
  z-index: 10;
}

.replay-bar-button ul li:hover{
  background: #13748D;
  
}

.replay-bar-panel-arrow{
  width: 6px;
  height: 6px;
  border: 1px solid #13748D;
  border-left: 0px solid;
  border-top: 0px solid;
  background: #111;
  position: absolute;
  bottom: -4px;
  right: 15px;
  -moz-transform: rotate(45deg); 
  -o-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
}

.replay-time{
  width: 50px;
  display: inline-block;
  /*border: 1px solid #FFF;*/
  float: left;
  padding: 8px 3px;
  color: #808080;
  text-align: center;
}

#replayStartime{
	text-align: right;
}

.replay-detail{
	position: absolute;
	right: 122px;
	bottom: 66px;
}
.replay-detail button{
	background: rgba(0,0,0,0);
	border : 1px solid rgba(32, 32, 32, 0.82);
	color: #06CDFF;
	text-shadow: 0 0 10px #06CDFF;
	box-shadow: 0 2px 10px rgba(0,0,0,1);
	padding: 0 40px;
	-webkit-animation: replay-bar-detail-ani 2s ease-out infinite;
  	-moz-animation: replay-bar-detail-ani 2s ease-out infinite;
  	line-height: 1px;
  	font-size: 27px;
  	
}

.replay-detail button i{
	margin: -10px 0;
}

button.replay-detail-button-up{
	background: rgba(0,0,0,0.7);
	border-radius:  5px 5px 0 0;
	border-bottom: 1px solid rgba(62, 62, 62, 0);
}

button.replay-detail-button-down{
	background: rgba(0,0,0,0);
	border-radius: 0 0 5px 5px;
	border-top: 1px solid rgba(62, 62, 62, 0);
}

.replay-detail button:hover{
	/*background: #21CCF8; */
	color: #21CCF8;
	text-shadow: 0 0 10px #21CCF8;
	background: rgba(0,0,0,0.7);
	/*box-shadow:inset 0 0 10px rgba(0,0,0,0.5);*/
}

.replay-bar-text-end{
  float: right;
}

.replay-bar-text {
  color: #999;
  font: 9px '微软雅黑';
}

.replay-bar{
  height: 5px;
  border: 0px solid rgba(0,0,0,0.5);
  /*box-shadow: 0 0 7px rgba(94, 94, 94,0.6);*/
  /*border-radius: 3px;*/
  min-width: 500px;
  background: #000;
  position: relative;
  margin: 5px 0;
  cursor: pointer;
}

.replay-bar-active{
  width: 0;
  height: 5px;
  /*border-radius: 3px;*/
  /*background: #FFF;*/
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#73DFFA), to(#21CCF8));
  box-shadow: inset 0 0 3px rgba(0, 0, 0 , 0.6);
}
.replay-bar-active-radio{
  position: absolute;
  left: -5px;
  top: -4px; 
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background: #21CCF8;
  border: 0px solid #13748D;
  box-shadow: 0 0 0 1px #21CCF8;
  -webkit-animation: replay-bar-radio-ani 2s ease-out infinite;
  -moz-animation: replay-bar-radio-ani 2s ease-out infinite;
  /*opacity:0;*/
}

.replay-bar-span{
  min-width: 500px !important;
  margin: 10px;
  display: inline;
  position: relative;
}

.replay-bar-imoption{
	width: 5px;
	height: 31px;
	border: 0px solid #B91D47;
	background: #B91D47;
	position: absolute;
	border-radius: 2px;
	left: 0;
	top: -13px;
}

.replay-bar-imoption_line{
	width: 0;
	height: 20px;
	border: 1px solid #B91D47;
	background: #B91D47;
	position: absolute;
	border-radius: 2px;
	left: 0;
	top: -13px;
}

.replay-bar-imoption-info {
	position: absolute;
	bottom: 18px;
	left: 0px;
	border: 1px solid;
	border-radius: 1px;
	padding: 3px 5px;
	background: #111;
	height: 19px;
	opacity: 0;
}
.replay-bar-imoption-info span{
	color: #eee;
	font-family: '微软雅黑';
	
}

.replay-bar-imoption-arrow{
	  width: 6px;
	  height: 6px;
	  border: 1px solid;
	  border-left: 0px solid;
	  border-top: 0px solid;
	  background: #111;
	  position: absolute;
	  bottom: -4px;
	  left: 5px;
	  -moz-transform: rotate(45deg); 
	  -o-transform: rotate(45deg); 
	  -webkit-transform: rotate(45deg); 
}

.replay-bar-imoption-arrow-up{
	  width: 6px;
	  height: 6px;
	  border: 1px solid;
	  border-right: 0px solid;
	  border-bottom: 0px solid;
	  background: #111;
	  position: absolute;
	  top: -4px;
	  left: 5px;
	  -moz-transform: rotate(45deg); 
	  -o-transform: rotate(45deg); 
	  -webkit-transform: rotate(45deg); 
}

#imoptionarrowup{
	left: 193px;
	top: 18px;
	
}

.replay-space-info{
	position: absolute;
	right: 16px;
	top: 18px;
	opacity: 0;
	z-index: -1;
}

.replay-space-info span{
	font-size: 11px; 
	font-family: '微软雅黑';
	font-weight: bold;
	color: #BD7610;
	border-left: 3px solid #13748D;
	background: rgba(0,0,0,0.9);
	/*background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#0C4B5B), to(rgba(0,0,0,0.5)));*/
	padding: 2px 10px;
	margin-left: 10px;
}

.replay-icon-list{
	position: absolute;
	left: 17px;
	top: 18px;
	opacity: 0;
	z-index: -1;
}

.replay-icon-list span {
	padding: 1px 5px;
	font-size: 10px; 
	font-family: '微软雅黑';
	/*font-weight: bold;*/
	display:inline-block; 
	width:44px;
	/*border: 1px dashed rgba(32,56,88,0.6);*/
	text-align: center;
	/*border-radius: 3px;*/
	line-height: 19px;
	/*-moz-transform: scale(0.8); 
	  -o-transform: scale(0.8); 
	  -webkit-transform: scale(0.8); */
	cursor: default;
}
.replay-icon-list-ftp{
	background: url('../img/ftpinfo.png') no-repeat;
	background-size: contain;
	/*color: rgba(248,240,8,0.6);
	border: 1px double rgba(248,240,8,0.6);*/
}	
.replay-icon-list-mail{
	background: url('../img/mailinfo.png') no-repeat;
	background-size: contain;
	/*color: rgba(255,255,255,0.7);
	border: 1px dashed rgba(255,255,255,0.7);*/
}

.replay-icon-list-create{
	background: url('../img/processinfo.png') no-repeat;
	
	background-size: contain;
	/*color: rgba(248,52,44,0.7);*/
	/*border: 1px dashed rgba(248,52,44,0.7);*/
}		

.replay-icon-list-write{
	background: url('../img/writeinfo.png') no-repeat;
	background-size: contain;
	/*color: rgba(45,171,105,0.7);*/
	/*border: 1px dashed rgba(45,171,105,0.7);*/
}	

.mailcolor{
	background: url('../img/replayBarTime_Mail_t.png') no-repeat;
}

.ftpcolor{
	background: url('../img/replayBarTime_ftp_t.png') no-repeat;
}

.writecolor{
	background: url('../img/replayBarTime_Write_t.png') no-repeat;
}

.createcolor{
	background: url('../img/replayBarTime_Process_t.png') no-repeat;
}


@-webkit-keyframes replay-bar-radio-ani {

    50% {
    	box-shadow: 0 0 8px 1px #21CCF8;
    }
}

@-moz-keyframes replay-bar-radio-ani{
	50% {
    	box-shadow: 0 0 8px 1px #21CCF8;
    }
}

@-webkit-keyframes replay-bar-detail-ani {

    50% {
    	color: #036A84;
		text-shadow: 0 0 10px #036A84;
    }
}

@-moz-keyframes replay-bar-detail-ani{
	50% {
    	color: #036A84;
		text-shadow: 0 0 10px #036A84;
    }
}