/* 主字体 --蓝泛白 */
.font-color-contents {
  color: #BAE8F4;
}
/* 亮蓝色边框线 */
.border-line {
  border-color: #0EA5CC;
}
/* 标题栏- 偏黑色背景 */
.bg-title {
  background: rgba(0, 44, 75, 0.93);
}
/* 主体蓝色背景 */
.bg-main {
  background: rgba(0, 55, 94, 0.93);
}
/* 主体中黑色覆盖背景 */
.bg-black {
  background: rgba(0, 0, 0, 0.4);
}
/* 滚动条颜色 */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #222;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #21CCF8;
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: #21CCF8;
}
/* 输入框颜色 */
/* 标签字体 --黄色系 */
/* 标签字体 --黄色系 */
.font-color-lables {
  color: #fb9d15;
}
