html,body{
	width: 100%;
	height:95%;
	padding:0px;
	color: #ABABAB;
	background-color: transparent;
}
#options{
	margin-left: 10px;
}
#left_btn{
	width: 50%;
	height:100%;
	float:left;
}
#container{
	width: 100%;
	height:90%;
	float:left;
	
} 
.back_box{
	padding-top:30px;
}
.content{
	margin-top:50px;
}
.color_part{
	width: 90%;
	height:8%;
	clear:both;
	margin-bottom:10px;
}
.color_block{
	width: 80%;
	height:80%;
	float:left;
	margin-left:10px;
	color:rgba(0,0,0,.8);
	text-align: center;
}	
button:hover{
  box-shadow:
    0 0 10px white,
    0 0 10px white
  ;
}
button:active{
  background-color: rgba(0, 136, 204, 0.7) !important;
}
.color_label{
	display:block;
	text-align: center;
	margin-top: 15%;
}
.option-set{
	margin-right: 20px;
}
.symbol{
	width:100%;
	height: 80%;
}
.person_img{
	width:70px;
	height:100px;
	float:right;
	right:1em;
}
.username{
	width:60%;
/*	height:40%;*/
	float:left;
	position: relative;
/*	margin-top: 20px;*/
	margin-left:5px;
	margin-bottom: 8px;
}
.user_role{
	width:90%;
	float: left;
	clear: both;
	position: relative;
/*	margin-top:10px;*/
	margin-left:5px;
}
.user{
	display:block;
	position: relative;
	clear: both;
	float:left;
	font-size: 12px;
/*	font-family: 'Bilbo', serif;*/
/*	font-size: 25px;*/
	margin-top:5px;
	font-family:'Arial';
}
.role{
	display:block;
	position: relative;
/*			text-align:center;*/
	color:#6F5757;
	margin-left: 10px;
	float:left;
	font-style:italic;
	font-size: 12px;
	margin-top: 5px;
}
.alter_user,.del_user{
	position:relative;
	margin-left: 10px;
	background:rgba(0,0,0,0);
}
.add_person,.alter_person,.del_person{
	position:relative;
	margin-left: 10px;
	margin-top: 20px;
	background:rgba(0,0,0,0);
}
.user_del_btn,.del_btn{
	bottom: 0.1em;
	left:2.7em;
	
}
.user_add_btn,.add_btn{
	bottom:0.1em;
	left:0.2em;
}
.user_edit_btn,.edit_btn{
	bottom:0.1em;
	left:1.5em;
}
.del_img{
	background:url("../image/permission_img/trash.png");
	display: inline-block;
}
.overlay,.overlay_edit_person,.overlay_add_user,.overlay_del_person,.overlay_del_user{
	display:none;
	bottom: 0;
	background:#FFFFFF;
	height:110px;
	width:100%;
	cursor:pointer;
	overflow: hidden;
	border-bottom-right-radius: 1.2em;
	opacity: .8;
}
.slide_select{
	position: relative;
	width: 50%;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}
.slide_sure{
	position: relative;
	float: left;
	margin-top: 10px;
	margin-left: 3px;
	padding: 0 2px;
	background: rgba(255, 255, 255, 0);
	border: 1px solid black;
}
.del_label{
	display: block;
	position: relative;
	margin-top: 20px;
	margin-left: 30px;
}
.del_user_btn{
	margin-left:50px;
}
.del_user_cancel{
	position: relative;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	background: rgba(255, 255, 255, 0);
	border: 1px solid black;
	padding: 0px 2px;
}
.slide_reset{
	position: relative;
	clear: both;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	background: rgba(255, 255, 255, 0);
	border: 1px solid black;
	width: 50%;
}
.slide_del_btn{
	bottom: 0.1em;
	left: .5em;
}
#left_color_nav_2{
	display:none;
}
.person_name,.department,.sex,.user_name,.add_user_role{
	position: relative;
	clear:both;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 2px;
}
.edit_person_name,.depart,.add_user_name{
	position: relative;
	float: left;
	width: 50%;
	padding: 0;
	margin-top: 5px;
}
.edit_sure,.add_sure{
	position: relative;
	float: left;
	clear:both;
	margin-left: 3px;
	padding: 0 2px;
	background: rgba(255, 255, 255, 0);
	border: 1px solid black;
}
.sex_select,.role_select,.depart_select{
	position: relative;
	float: left;
	width: 50%;
}

/*.sex_select option{
	position : relative;
	margin-left: -219px;
	left: 0px;
}*/
#person_id{
	display:none;
}
#person_name{
	font-family: "微软雅黑"
}
.deprtment_tree_show
{
	height:100%;
	width:45%;
	float:left;
	
}
#user_add_right
{
	height:100%;
	width: 50%;
	float:left;
	border-right:1px dotted #CCCCCC;
}
.dialog_user
{
	margin-top:10px;
}
.dialog_user label,#department_add_right label,#function_add_right label{
	display:inline;
	color:#ccc;
}
input{
	width:120px;
}
select{
	width:130px;
}
.modal-footer{
	background: rgba(18, 25, 37, 0.9);
}
#department_add_right,#alter_department,#del_department,
#function_add_right,#alter_function,#del_function,
#add_role,#alter_role,#del_role
{
	margin-left:5px;
}
#set_other,#add_person,#add_user,#edit_person,#del_person,#edit_user,#del_user
{
	display: block;
	/*left: 35%;
	width: 80%;*/
	background-color: rgba(18, 25, 37, 0.9);
}
.option_btn{
	border-top: 1px dotted #CCC;
	width: 100%;
	text-align: right;
	padding-top: 5px;
	clear: both;
}
.add_depart{
	width: 50%;
	height: 100%;
	float: left;
}
.option_left{
	position: absolute;
	bottom: .2em;
	left: 19em;
}
/*#depart_tree,#function_tree{
	border-right: 1px dotted #ccc;
}*/
.dialog_label{
	margin-right: 5px;
	padding-bottom: 50px;
	color:#ccc;
}
.close{
	color:#fff;
	opacity: 1.0;
}
.close:hover{
	color:#fff;
	opacity: 0.8;
}
.tabs-left > .nav-tabs {
	margin-right: 0px;
	border-right: 1px;
}
.tab-content{
	border-left: 1px solid #ccc;
}
.set_title{
	color:#08c;
}
.field_td{
	text-align: left;
	
}
.component_td{
	text-align: center;
	
}