@font-face {
  font-family: 'Covered By Your Grace';
  font-style: normal;
  font-weight: 400;
  src: local('Covered By Your Grace'), local('CoveredByYourGrace'), url(font/font.woff) format('woff');
}
@font-face {
  font-family: 'Nova Square';
  font-style: normal;
  font-weight: 400;
  src: local('Nova Square'), local('NovaSquare'), url(font/font2.woff) format('woff');
}

body{
    /*overflow: hidden;*/
    font:'微软雅黑';
    padding: 0;
    margin: 0;
    background: rgb(31, 31, 31);
}
.maintable{
    border-right: 1px dashed rgb(158, 158, 158);
    border-left: 1px dashed rgb(158, 158, 158);
    /*border-bottom: 1px dashed #444;*/
    width: 1100px;
    height: 100%;
    margin : 1px auto 8px;  
}

.shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    /*margin: 0 20px;*/
}
li img{
    width: 40px;
    cursor: pointer;
}
.head td{
    text-align: center;
    font:bold 26px '微软雅黑';
    font-family: 'Nova Square', cursive;
    color: rgb(218, 218, 218);
    
    /*background: #f5f5f5;*/
}
.lasttd{
    width: 210px;
}
.righttop,#gauge{
    margin: auto;
}
.infotitle{
    background: #CCC;
}
.tit4{
    border-bottom: 1px solid rgba(27,88,184,0.7);
    padding: 0;
    margin: 0;
    /*border-right: 1px solid rgba(27,88,184,0.7);*/
}
.tit4 .mininfo{
    margin: 0;
    padding: 20px 10px 5px;
    font:22px '微软雅黑';
    font-family: 'Nova Square', cursive;
    color: #FFF;
    text-shadow: 0 -1px 6px #FFF;
    text-align: center;
    height: 100%;
}

.blue{
    background: rgba(0, 36, 94, 0.7);
}
.yellow{
    /*background: rgba(255,125,35,0.8);*/
    background: rgba(160, 65, 0, 0.8);
}

.green{
    background: rgba(0,74,0,0.8);
}

.bblue{
    background: rgba(23, 5, 66, 0.88);
}
.tit4 .mininfo div{
    width: 90%;
    margin: 10px;
    padding: 2px 0 5px;
    font:12px '微软雅黑';
    font-family: 'Nova Square', cursive;
    color: #FFF;
    /*text-shadow: 0 -1px 6px #FFF;*/
    /*text-align: left;*/
    line-height: 1px;
    
}
.tit4 .mininfo label{
    margin-bottom: 20px;
    display: block;
}
.spanlineblue{
    border-top: 2px solid rgba(0, 36, 94, 0.7);
    border-bottom: 2px solid rgba(0, 36, 94, 0.7);
}
.spanlinegreen{
    border-top: 2px solid rgba(0,74,0,0.8);
    border-bottom: 2px solid rgba(0,74,0,0.8);
}
.spanlineyellow{
    border-top: 2px solid rgba(160, 65, 0, 0.8);
    border-bottom: 2px solid rgba(160, 65, 0, 0.8);
}
.spanlinebblue{
    border-top: 2px solid rgba(23, 5, 66, 0.88);
    border-bottom: 2px solid rgba(23, 5, 66, 0.88);
}
/*.leftborder{
    border-right: 1px dashed #444;
    height: 100%;
    text-align: center;
    padding: 10px;
}*/
.leftborder{
    border-right: 1px dashed rgb(158, 158, 158);
}
.rightborder{
    border-right: 1px dashed rgb(158, 158, 158);
}
.rightborderblue{
    border-right: 2px solid rgba(0, 36, 94, 0.7);
}
.rightbordergreen{
    border-right: 2px solid rgba(0,74,0,0.8);
}
.rightborderyellow{
    border-right: 2px solid rgba(160, 65, 0, 0.8);
}
.rightborderbblue{
    border-right: 2px solid rgba(23, 5, 66, 0.88);
}
.rightbottom{
    border-bottom: 1px dashed #444;
}
.topbotder{
    border-top: 1px dashed #CCC;
}
.note{
    margin: 6px 0 6px;
    border-bottom: 1px dashed #555;
    /*font-family: 'Covered By Your Grace', cursive;*/
    /*font-family: 'Just Me Again Down Here', cursive;*/
    font-family: "Times New Roman";
    font-weight: 600;
    font-size: 14px;
    /*font-family:bold 20px 'Arial';*/
    color: #333;
    width: 230px;
    word-wrap: break-word;
    text-align: left;
}
#gauge{
    height: 180px;
}
.lastline{
    border-top: 1px solid #CCC;
}
.subtn{
    display: inline-block;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #bbbbbb;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    margin: 0 auto 10px;
    z-index: 2;
}
.upfileclass{
    background: url('/img/upload.png') no-repeat center;
    background-size: contain;
    height: 132px;
    text-align: center;
    position: relative;
    width: 100%;
    /*z-index: -1;*/
}

tr{
    position: relative;
}

#setupI,#setupII,#setupIII{
    position: relative;
    padding: 50px 0;
    height: 100%;
    width: 460px;
    text-align: left;
}
#setupstar,#setupend{
    position: relative;
    padding: 0;
    height: 100%;
}

.packicon{
    margin: 0px 8px;
}

.classes{
    position: absolute;
    top: 32px;
    left: -10px;
    /*left: 100px;*/
    /*left: 255px;*/
    width: 100px;
    height: 100px;
}

.gifclasses{
    position: absolute;
    top: 0;
    left: -25px;
    width: 150px;
    /*left: 360px;*/
}

.modeshape{
    width: 1096px; 
    height: 100%;
    position: absolute;
    top: 0px;
    left: -240px;
    /*z-index: 1;*/
    background: rgba(49, 48, 48, 0);
    /*box-shadow:inset 1px 1px 10px #FFF,inset -1px -1px 10px #FFF;*/
    border: 1px solid #333;
    border-radius: 3px;

}

.rightspan{
    background: url('/img/go-up.png') repeat-y right top;
    height: 100%;
    margin: 0 2px 8px 0;
}

iframe{
    z-index: 20;
}

#control{
    position: absolute;
    right: 0px;
    top: 0px;
    /*background: rgba(37,37,37,.4);*/
    padding: 2px;
}

#more_link1, #more_link2, #more_link3, #more_link4{
    float:right; 
    width:100px; 
    text-align:right;
}

#modeldialog{
    position: absolute;
    top: -1000px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    text-align: center;
    
}

.modelButton{
    color: blue;
    text-decoration: none;
}

#modeldialog div{
    position: relative;
    width: 800px;
    height: 500px;
    background: rgba(100,100,100,1);
    text-align: center;
    margin: 100px auto 0;
}

#modeldialog .close{
    position: absolute;
    right: 0;
    top: -90px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}