            
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 18px;
}

.table th{
    color:#ffffff;
}
.table th,
.table td {
  padding: 3px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #80f8eb;
  
}


.table thead th {
  vertical-align: bottom;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  /*background-color: #f9f9f9;*/
  background-color: rgba(32, 68, 68, 0.5);
}

